{% load static %}
<section id="cta" class="section-padding" style="background-color:#E2E8F0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">           
          <div class="cta-text">
            <h4 style="color: #330050;">7 dias de experiência grátis</h4>
            <p style="color: #330050;">Pacote básico para mostrar como o nosso trabalho funciona</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
          </br><a href="#" class="btn btn-common">Register Now</a>
        </div>
      </div>
    </div>
</section>