{% load static %}

<footer id="footer" class="footer-area section-padding">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
            <div class="widget">
              <h3 class="footer-logo"><img src="{% static 'img/logo.png' %}" alt=""></h3>
              <div class="textwidget">
                <p>Expand, onde a criação de serviços web acontecem e você ganha tempo na criação de projetos! </p>
              </div>
              <div class="social-icon">
                <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Produtos</h3>
            <ul class="footer-link">
              <li><a href="#">Inteligência Artificial</a></li>
              <li><a href="#">Software Web</a></li>
              <li><a href="#">Aprendizado online</a></li>
              <li><a href="#">Materiais de qualidade</a></li>           
              <li><a href="#">Acesse seu desempenho</a></li>           
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Resources</h3>
            <ul class="footer-link">
              <li><a href="#">Opções de pagamento</a></li>
              <li><a href="#">Curso gratis no discord</a></li>
              <li><a href="#">Começar agora</a></li>
              <li><a href="#">Mentoria</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <h3 class="footer-titel">Contato</h3>
            <ul class="address">
              <li>
                <a href="#"><i class="lni-map-marker"></i> 105 Madison Avenue - <br> Third Floor New York, NY 10016</a>
              </li>
              <li>
                <a href="#"><i class="lni-phone-handset"></i> P: +55 (84) 9139-7509</a>
              </li>
              <li>
                <a href="#"><i class="lni-envelope"></i> E: expandpython@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>  
    </div> 
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-content">
              <p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </footer> 