{% load static %}

<div class="about-area section-padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 info">
          <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
            <div>
              <div class="site-heading">
                <p class="mb-3">Design amigável</p>
                <h2 class="section-title">Abranja seus horizontes, contrate nossa equipe para seus trabalhos</h2>
              </div>
              <div class="content">
                <p>
                  Aqui o nosso dever é dar ao cliente a certeza de conclusão de projetos, sejam eles landing pages de alta conversão 
                  até sistemas feitos com integração de design e funcionalidades internas de Software. Para nos contratar, o processo é 
                  simples. Basta clicar no botão abaixo. 
                </p>
                <a href="#" class="btn btn-common mt-3">Conversar com corretor</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
          <img class="img-fluid" src="{% static 'img/about/img-1.svg' %}" alt="" width="450">
        </div>
      </div>
    </div>
  </div>